<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <form>
        <h2>Log In</h2>
        <label for="email">Email</label>
        <input type="text" name="email" required />
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <button>Log In</button>
    </form>
<%- include('../partials/footer.ejs') %>
<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', e => {
        e.preventDefault();


        const email = form.email.value;
        const password = form.password.value;
        const emailErr = document.querySelector('.email.error');
        const pwdErr = document.querySelector('.password.error');
        data = { email, password };

        fetch('/login', {
            headers: {'Content-Type': 'application/json'},
            method: 'POST',
            body: JSON.stringify(data)
        })
    })
</script>
</body>