<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <form>
        <h2>Sign up</h2>
        <label for="name">Full Name</label>
        <input type="text" name="name" required /><br>
        <div class="name error"></div>
        <label for="email">Email</label>
        <input type="email" name="email" required />
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <label for="password_r">Repeat Password</label>
        <input type="password" name="password_r" required />
        <button>Sign Up</button>
    </form>
        

    <%- include('../partials/footer.ejs') %>
    <script>
        form = document.querySelector('form');
        form.addEventListener('submit', e => {
            e.preventDefault();
            const name = form[0].value;
            const email = form[1].value;
            const password = form[2].value;
            const passRepeat = form[3].value;
            const nameErr = document.querySelector('.name.error');
            const emailErr = document.querySelector('.email.error');
            const passErr = document.querySelector('.password.error');
            
            if (password !== passRepeat) {
                passErr.innerHTML = 'Passwords Don\'t Match!';
            } else {
                fetch('/signup', {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: JSON.stringify({name, email, password})
                }).then(response => {
                    response.json().then(jsonData => {
                        if(jsonData.errors) {
                            nameErr.innerHTML = jsonData.errors.name;
                            emailErr.innerHTML = jsonData.errors.email;
                            passErr.innerHTML = jsonData.errors.password;
                        }
                    }).catch(err => {
                        console.log(err);
                    })
                }).catch(err => {
                    console.log(err);
                })
            }

        });
    </script>
</body>