<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li ><a href="/mylists/">All Lists</a></li>
        <li ><a href="/mylists/create">New List</a></li>
        <div style="clear: both;"></div>
    </ul>
</nav>
