<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2>All active lists</h2>
    <ul class="shopping-list">
        <li>
            <a ><p class="product-name">Full name</p></a>
        </li>
        <li>
            <a ><p class="product-name">Full name</p></a>
        </li>
        <li>
            <a ><p class="product-name">Full name</p></a>
            
        </li>
    </ul>
        

    <%- include('../partials/footer.ejs') %>
</body>
</html>