<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2>Create New Shopping List</h2>
    <ul class="shopping-list">
        <form action="/create" method="post">
            <input type="hidden" name="authorId" value="<%= user._id %>" id="authorId">
            <label for="name">List Name: </label><input type="text" name="name" id="name" />
            <br>
            <span data-no="0" id="0" class="prod-group">
                <input type="text" name="product" class="product-name"/>
                <input type="text" name="quantity" class="product-quan"/>
            </span>
            <span id="placeholder"></span>
            <button id="add">+</button>
                
        </form>
        <button id="submit">Create</button>
    </ul>
        

    <%- include('../partials/footer.ejs') %>
    <script>
        let pordNum = 0;
        document.getElementById('add').addEventListener('click', e => {
            e.preventDefault();
            
            let listElementAdded = `<span data-no="${++pordNum}" id="${pordNum}" class="prod-group">
<input type="text" name="product" class="product-name"/>
<input type="text" name="quantity" class="product-quan"/>
</span>`
            document.getElementById('placeholder').innerHTML += listElementAdded;


            
        });

        document.getElementById('submit').addEventListener('click', e => {
            // get name of list
            const listName = document.getElementById('name').value

            // getting list names and quan
            const groups = Array.from(document.querySelectorAll('.prod-group'));
            const prodNames = groups.map(group => {
                return group.querySelector('.product-name').value;
            });
            const prodQuans = groups.map(group => {
                return group.querySelector('.product-quan').value;
            });
            console.log(listName, prodNames, prodQuans);

            // prep data
            const prodList = prodNames.map((product, index) => {
                return { prodName: product, prodQuan: parseInt(prodQuans[index]) };
            });
            const data = {
                authorId: document.getElementById('authorId').value,
                name: listName,
                prodList
             }
            
            // make req
            fetch('/mylists/list/create', {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(response => {
                response.json().then(data => {
                    window.location.href = data.redirect;
                }).catch(jErr => {
                    console.log(jErr);
                })
            }).catch(err => {
                console.log(err);
            })

        });
    </script>
</body>
</html>