<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2>Lista nr</h2>
    <ul class="shopping-list">
        <li>
            <p class="product-name">Full name</p><p class="quantity">quan</p>
            
        </li>
        <li>
            <p class="product-name">Full name</p><p class="quantity"></p>
        </li>
        <li>
            <p class="product-name">Full name</p><p class="quantity">quan</p>
            
        </li>
        <li>
            <p class="product-name">Full name</p><p class="quantity"></p>
        </li>
    </ul>
        

    <%- include('../partials/footer.ejs') %>
</body>
</html>